.courses {
    display: flex;
    flex-direction: column;
    gap: 32px;
    min-width: 320px;
    box-sizing: border-box;
    padding: 0 12px;
    margin-bottom: 70px;
}

.courses__title {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.courses__name {
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.courses__about {
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
}

.courses__p {
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.courses__cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.courses__card {
    border-radius: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
    border: 1px solid #DADADA;
}

.courses-card__text {
    box-sizing: border-box;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.courses-card__text div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.courses__pic {
    border-radius: 10px;
    height: 278px;
    width: 100%;
}

.courses__company-name {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;
}

.courses__logo {
    width: 72px;
    height: 20px;
}

.courses__company-name span {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

.courses__about {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
}

.courses__link {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #0F8277;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    text-decoration: none;
}

.courses__link img {
    width: 20px;
    height: 20px;
}

.courses__more {
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    align-self: center;
    position: relative;
    text-decoration: none;
}

.courses__more::after {
    display: block;
    position: absolute;
    content: url(../images/arrow.svg);
    width: 20px;
    right: -30px;
    top: 0;
}


@media (min-width: 768px) and (max-width: 1200px) {
    .courses {
        min-width: 768px;
    }

    .courses__cards {
        flex-direction: row;
        gap: 24px;
    }

    .courses__card {
        width: 232px;
    }

    .courses-card__text {
        justify-content: space-between;
        height: 220px;
        gap: 0;
    }

    .courses__pic {
        height: 160px;
    }
}

@media (min-width: 1200px) {
    .courses {
        max-width: none;
        max-width: 1200px;
        margin: 0 auto 80px;
    }

    .courses__cards {
        flex-direction: row;
    }

    .courses__card {
        width: auto;
    }

    .courses__card {
        width: 416px;
    }
}