.footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;
    padding: 32px 8px;
    min-width: 320px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.footer-name {
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
}

.footer-about {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

.logos {
    display: flex;
    gap: 24px;
}

.footer-rights {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}


@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 32px 8px;
    }

    .footer-about {
        width: 305px;
    }

    .footer-right {
        justify-content: space-between;
        align-items: flex-end;
    }
}

@media (min-width: 1200px) {
    .footer {
        padding: 64px 36px;
    }
}