header {
    min-width: 320px;
    max-width: 768px;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    padding: 16px 8px;
    margin-bottom: 31px;
    box-sizing: border-box;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.header__left-side,
.header__right-side,
.header__center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left-side {
    gap: 32px;
}

.header__right-side {
    gap: 16px;
}

.header__center,
.search-btn,
.explore,
.info {
    display: none;
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    display: none;
}

.burger-button,
.search-btn {
    background: #0F8277;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    padding: 10px 10px;
}

.burger-button img {
    width: 32px;
    height: 32px;
}

.search-btn img {
    width: 16px;
    height: 16px;
}

.logo {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.44px;
    text-decoration: none;
}

.button__log-in,
.button__sign-up {
    padding: 10px 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
}

.button__log-in {
    color: #0F8277;
    background-color: white;
}

.button__sign-up {
    background-color: #0F8277;
    color: white;
}


@media (min-width:768px) and (max-width:1200px) {

    header {
        min-width: 768px;
        max-width: 1200px;
    }

    .header__left-side,
    .header__right-side {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }

    .burger-button {
        background-color: #0F8277;
    }

    .search-btn {
        display: block;
    }
}

@media (min-width: 1200px) {

    header {
        min-width: 1200px;
        padding: 31px 36px;
    }

    .explore {
        display: block;
        border-radius: 4px;
        background: #0F8277;
        border: none;
        color: white;
        box-sizing: border-box;
        padding: 10px 20px 10px 12px;
        position: relative;
    }

    .explore::after {
        display: block;
        content: url(../images/explore.svg);
        width: 8px;
        height: 14px;
        position: absolute;
        top: 25%;
        right: 8px;
    }

    .header__center {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 330px;
        height: 36px;
        border-radius: 4px;
        border: 1px solid #5C5C5C;
    }

    .search-desktop__input {
        color: #5C5C5C;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
        border: none;
        box-sizing: border-box;
        padding-left: 12px;
    }

    .search-desktop__img {
        background-color: #0F8277;
        height: 36px;
        box-sizing: border-box;
        padding: 10px;
        /* height: 25px; */
    }

    .burger-button {
        display: none;
    }

    .header__right-side {
        gap: 40px;
    }

    .info {
        display: block;
        color: #000;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
        text-decoration: none;
    }
}