.card1 {
    border-radius: 12px;
    background: #DBF3ED;
    min-width: 320px;
    max-width: 768px;
    box-sizing: border-box;
    padding: 120px 16px;
    margin: 0 auto 64px;
}

.card1-text {
    display: flex;
    gap: 32px;
    flex-direction: column;
    
}

.hero-img {
    display: none;
}

.card1-text span {
    font-size: 46px;
    font-weight: 700;
    line-height: 120%;
}

.card1-text p {
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
}

.card1__buttons {
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.btn__start,
.btn__more {
    box-sizing: border-box;
    padding: 10px 12px;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
}

.btn__start {
    background: #0F8277;
    border: none;
    color: white;
}

.btn__more {
    border: 2px solid #0F8277;
    background-color: #DBF3ED;
    color: #0F8277;
    
}

@media (min-width: 768px) and (max-width: 1200px) {

    .card1{
        background: url(../images/hero-img.png) no-repeat #DBF3ED;
        background-size: 332px;
        background-position: right center;
        max-width: 1200px;
        display: flex;
        align-items: center;
    }

    .card1-text {
        align-items: start;
        width: 500px;
    }

    .card1__buttons {
        flex-direction: row;
        gap: 24px;
        align-items: center;
        justify-content: flex-start;
    }

}

@media (min-width: 1200px) {

    .card1{
        background: #DBF3ED;
        min-width: 1200px;
        max-width: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .hero-img{
        display: block;
    }

    .card1-text {
        align-items: start;
        width: 500px;
    }

    .hero-img{
        display: block;
    }

    .card1__buttons {
        flex-direction: row;
        gap: 24px;
        align-items: center;
        justify-content: flex-start;
    }
}