.pay {
    align-items: center;
    box-sizing: border-box;
    padding: 64px 8px 80px;
    margin-bottom: 64px;
    background: #DBF3ED;
    min-width: 320px;
    align-self: center;
}

.pay-cards {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.pay__title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 40px;
}

.pay__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
}

/* top card part */

.pay-card__top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 32px;
    border-bottom: 3px solid #0F8277;
}

.pay__subscription-title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
}

.pay__description {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

.pay__price {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
}

.pay__price span {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
}

.pay__started {
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    background: #0F8277;
    border: 2px solid #FFF;
    color: white;
}

/* bottom card part */

.pay-card__bottom {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pay-card__bottom li {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    list-style-type: none;
}

.pointer {
    position: relative;
}

.pointer::before {
    display: block;
    content: url(../images/pointer.svg);
    position: absolute;
    top: 0;
    left: -30px;
    width: 32px;
    height: 32px;
}

/* reverse card */

.rev {
    background: #0F8277;
    border: 1px solid #0F8277;
}

.rev__text {
    color: white;
}

.rev__pointer {
    color: white;
    position: relative;
}

.rev_border {
    border-bottom: 3px solid #FFF;
}

.rev__pointer::before {
    display: block;
    content: url(../images/rev_pointer.svg);
    position: absolute;
    top: 0;
    left: -30px;
    width: 32px;
    height: 32px;
}


@media (min-width: 768px) and (max-width:1200px) {
    .pay-cards {
        flex-direction: row;
    }

    .pay__card {
        width: 232px;
    }

    .pay-card__top {
        padding-bottom: 90px;
    }

    .rev_border {
        padding-bottom: 32px;
    }
}

@media (min-width:1200px) {
    .pay {
        margin-bottom: 80px;
    }

    .pay-cards {
        flex-direction: row;
    }

    .pay__card {
        width: 416px;
    }
}